.vs
Debug
x64
/kloglib/*.user
bin
OutKlogSDK
OutKloglibTestBin
KlogSDK
/kloglibtest/*.user
GeneratedFiles
/klogclient/*.user
OutKlogClientBin
OutKlogServerBin
OutKlogNetProtocolSDK
KlogNetProtocolSDK
