{
    "trace_out": true,
    "track_out": true,
    "output_compile": false,
    "output_console": true,
    "output_com": false,
    "output_file": true,
    "output_socket": false,
    "file_level": false,
    "file_module": false,
    "file_date": true,
    "async": false,
    "sync_lock": true,
    "head": true,
    "head_index": true,
    "head_functrack": true,
    "head_functime": true,
    "head_level": true,
    "head_label": true,
    "head_threadid": true,
    "head_processname": true,
    "head_modulename": true,
    "head_filename": true,
    "head_funcname": true,
    "head_line": true,
    "head_datetime": true,
    "head_runtime": true,
    "head_async": true,
    "head_synclock": true,
    "valid_level": 18,
    "valid_console_level": 18,
    "console_format": 1,
    "trace_file_size": 1000,
    "head_label_text": "kk",
    "trace_file_dir": "",
    "trace_com_name": "",
    "level_on_off": [
        {
            "key": 1,
            "value": true
        },
        {
            "key": 2,
            "value": true
        },
        {
            "key": 3,
            "value": true
        },
        {
            "key": 4,
            "value": true
        },
        {
            "key": 5,
            "value": true
        },
        {
            "key": 6,
            "value": true
        },
        {
            "key": 7,
            "value": true
        },
        {
            "key": 8,
            "value": true
        }
    ]
}