{
    "trace_out": true,
    "track_out": true,
    "output_compile": true,
    "output_console": true,
    "output_com": true,
    "output_file": true,
    "output_socket": true,
    "file_level": false,
    "file_module": false,
    "file_date": true,
    "async": false,
    "sync_lock": true,
    "head": true,
    "head_index": true,
    "head_level": true,
    "head_label": true,
    "head_thread_id": true,
    "head_datetime": true,
    "head_runtime": true,
    "head_function_time": true,
    "head_process_name": true,
    "head_module_name": true,
    "head_file_name": true,
    "head_function_name": true,
    "head_line": true,
    "head_async": true,
    "head_sync_lock": true,
    "valid_level": 18,
    "trace_file_size": 1000,
    "head_label_text": "kk",
    "trace_file_dir": "",
    "trace_com_name": "",
    "level_on_off": [
        {
            "key": 1,
            "value": true
        },
        {
            "key": 2,
            "value": true
        },
        {
            "key": 3,
            "value": true
        },
        {
            "key": 4,
            "value": true
        },
        {
            "key": 5,
            "value": true
        },
        {
            "key": 6,
            "value": true
        },
        {
            "key": 7,
            "value": true
        },
        {
            "key": 8,
            "value": true
        }
    ]
}